*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
 /* background-image: url(images/terry2.jpg);*/
  background-repeat: no-repeat;
  color: black;
  min-height: 10vh;
  background-position: cover;
  opacity: 1;
  background-color: rgb(53, 41, 41);
}
.navbar{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.name{
  display: flex;
}
.image1{
  margin-top: 10%;
  margin-right: 5%;
  padding-left: 90px;
  
  

}

#logoname{
  font-family: sans-serif;
  font-size: 2.5em;
  color: white;

}
span{
  color: rgb(241, 89, 34);
}
ul{
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
 
}
 ul li{
   list-style-type: none;
   display: inline-block;
   padding:10px 25px ;
   
}
ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
ul li a:hover{
   color: rgb(241, 89, 34);
}
.section1{
  padding-top: 150px;
  margin-left: 5%;
}
h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 65px;
}
h3{
  font-size: 25px;
  color: white;
}
h4{
  font-size: 20px;
  letter-spacing: 1.5px;
  color: white;
  font-style: italic;
}
.about{
  border:none;
  align-items: center;
  display: flex;
  margin-top: 50px;
}
.aboutsection h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 35px;
  margin-left: 40%;
  font-style: italic;
}
p{
  color: white;
  font-size: 20px;
  font-family: sans-serif;

}
#image2{
  margin-left: 20px;
}

.aboutsection h5{
  color: white;
  font-size: 25px;
  padding-bottom: 20px;
  margin-left: 40%;
}
.aboutsection p{
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 30px;
}
.projects{
  margin-left: 20px;
  display: flex;

}
.projects h3{
   font-size: 20px;
  color: white;
  padding-top: 40px;
}
.projects h1{
   font-size: 35px;
  color: white;
  padding-top: 40px;
}
.container1{
  border: 1px solid white;
  margin-top: 40px;
  width: 450px;
  text-align: center;

}
.container2{
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 40px;
  width: 450px;
  text-align: center;
}
.container3{
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 40px;
  width: 450px;
  text-align: center;
}